<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.InterviewMapper">

    <resultMap id="BaseResultMap" type="com.example.demo.model.persist.entity.Interview">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="userMessage" column="user_message" />
            <result property="interviewMessage" column="interview_message" />
            <result property="createdAt" column="created_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,user_message,interview_message,created_at
    </sql>
</mapper>
